/* Color Resources */
:root {
  /* Dark Theme */
  --primary-blue: #2d88ff;
  --primary-dark: #18191a;
  --semi-dark: #242526;
  --soft-dark: rgb(58 59 60);

  /* Font and Emoji Colors */
  --danger: #f02849;
  --success: #42b15d;
  --warning: #e8ae28;
  --text-color: #d7e3e7;
  --text-color-white: #ffffff;
  --place-holder-color: rgb(133 135 139);
}
.red {
  color: var(--danger);
}
.yellow {
  color: var(--warning);
}
.green {
  color: var(--success);
}
.gradient {
  color: rgb(240, 176, 240);
}
/* Body default Configurations */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}
/* Customized a tag */
.custom-a {
  color: var(--text-color);
  text-decoration: none;
}
.custom-a:hover {
  text-decoration: underline;
}
/* Customized hr tag */
.custom-hr {
  display: flex;
  border: none;
  height: 1px;
  background-color: var(--soft-dark);
}

body {
  background-color: var(--primary-dark);
}

/* Navigation Bar */
.navigation {
  display: flex;
  width: 100%;
  background-color: var(--semi-dark);
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 5;
}
/* Navigation Left */
.nav-left {
  width: 20%;
  display: flex;
  align-items: center;
  padding: 3px 10px;
}
#logo {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid black;
  margin-right: 5px;
}
.search-icon {
  font-size: 14px;
}
.search-box {
  background-color: var(--soft-dark);
  padding: 7px 8px;
  display: flex;
  color: var(--place-holder-color);
  border-radius: 30px;
}
.input-box {
  background-color: var(--soft-dark);
  border: 0px;
  padding: 2px 6px;
  color: white;
}
.input-box:focus {
  outline: none;
}
/* Navigation Center */
.nav-center {
  width: 607px;
  margin: auto;
}
.categories {
  display: flex;
  justify-content: space-between;
}
.category {
  font-size: 19px;
  padding: 10px 44px;
  color: var(--text-color);
  margin-right: 8px;
  position: relative;
}
.category img {
  width: 25px;
  height: 25px;
  color: var(--text-color);
}
/*Category Active and Customized Icons */

.active i {
  color: var(--primary-blue);
}
.category.active {
  border-bottom: 2px solid var(--primary-blue);
}
.circle-border i {
  border: 1.5px solid var(--text-color);
  border-radius: 50%;
  font-size: 13px;
  padding: 3px 2px;
}

/*Category Notification */
.notification {
  position: absolute;
  background-color: var(--danger);
  color: var(--text-color-white);
  font-size: 9px;
  padding: 1px 0px;
  width: 13px;
  border-radius: 50%;
  text-align: center;
}

/* Hover Effects */
.category:hover {
  background-color: var(--soft-dark);
  border-radius: 10px;
}
.categories .active:hover {
  background-color: var(--semi-dark);
  border-radius: 0px;
}
.active.circle-border i {
  border: 1.5px solid var(--primary-blue);
}
/* Navigation Right */
.nav-right {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  margin-right: 8px;
}
.options-container {
  display: flex;
  padding: 3px 2.5px;
  align-items: center;
  position: relative;
}
.option {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: var(--soft-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color-white);
  padding: 3px 2px;
}
.option img {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}
.find-friends {
  color: var(--text-color-white);
  padding: 8px 12px;
  background-color: var(--soft-dark);
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
}

/* Option and Profile Notification */
/* Option Notification uses the classes of center Category Notification */
.option-notification {
  top: -2px;
  right: 3px;
  width: 15px !important;
  height: 15px !important;
}
.profile-notification {
  width: 10px;
  height: 10px;
  background-color: var(--danger);
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 3.5px;
  right: 3px;
}

/* Newsfeed Body */
.newsfeed {
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
}
/* Left Side */
.left-side {
  width: 20%;
  display: flex;
  flex-direction: column;
  height: 90vh;
  padding: 15px 0 0 10px;
  position: fixed;
  overflow: hidden;
}
.left-side:hover {
  overflow-y: auto;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.widgets {
  display: flex;
  color: var(--text-color);
  width: 260px;
  flex-direction: column;
}
.left-option {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 5px;
  font-size: 15px;
}
.left-option i {
  font-size: 23px;
  margin-right: 10px;
  margin-left: 2px;
}
.left-option img {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  margin-right: 15px;
}

.left-option:hover {
  background-color: var(--soft-dark);
  border-radius: 10px;
}
.see-more {
  background-color: var(--soft-dark);
  padding: 5px 7px;
  border-radius: 50%;
  margin-left: 0px;
  font-size: 16px !important;
}
.shortcuts {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  color: var(--text-color);
  font-size: 12px;
}
.shortcuts .heading {
  display: flex;
  margin-bottom: 10px;
}
.shortcut-icon {
  width: 30px !important;
  height: 30px !important;
  border-radius: 5px !important;
}

/* Center Posts */
.newsfeed-center {
  width: 50%;
  margin-left: 320px;
}
/* Myday Section */

.myday-container {
  width: 607px;
  margin: auto;
  display: flex;
  justify-content: center;
  position: relative;
}
.myday-card {
  width: 106px;
  height: 189px;
  overflow: hidden;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 20px 7px 0px 0px;
  border-radius: 15px;
  position: relative;
  font-size: 14px;
}
.myday-card::before {
  content: "";
  width: 106px;
  height: 189px;
  position: absolute;
  z-index: 0;
  background: rgb(61, 60, 60);
  opacity: 0.25;
}
.myday-profile {
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 3px solid var(--primary-blue);
  left: 10px;
  top: 10px;
}
.myday-owner {
  color: var(--text-color-white);
  position: absolute;
  bottom: 8px;
  left: 7px;
  font-size: 14px;
  z-index: 1;
}
.me {
  background-position: center;
  overflow: hidden;
  background-size: 150%;
  background-position-y: top;
  position: relative;
  z-index: 0;
}
.me i {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--primary-blue);
  border: 3px solid var(--soft-dark);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 34px;
  bottom: 45px;
  z-index: 3;
}
.me p {
  width: 106px;
  height: auto;
  display: block;
  padding: 18px 8px;
  background-color: var(--soft-dark);
  bottom: 0px;
  text-align: center;
  color: var(--text-color);
  position: absolute;
  z-index: 1;
}
.overflow-arrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--soft-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -10px;
  top: 90px;
  color: var(--text-color);
  z-index: 3;
}

/* Myday Hover */
.myday-card:hover {
  opacity: 0.9;
  background-size: 105%;
  /* transform: scale(1.2); */
}
.me:hover {
  opacity: 0.9;
  background-size: 155%;
}

/* Posting and Livestream */
.posting {
  width: 607px;
  margin: 15px auto;
  height: auto;
  border-radius: 7px;
  padding: 5px 10px;
  background-color: var(--semi-dark);
}
.create-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}
.create-post img {
  width: 33px;
  height: 33px;
  border-radius: 50%;
}
.post-text-box {
  width: 92%;
  border-radius: 40px;
  background-color: var(--soft-dark);
  border: none;
  color: var(--text-color);
  padding: 9px 10px;
}
.post-text-box:focus {
  outline: none;
}

.posting-choices {
  display: flex;
  align-items: center;
  padding: 3px 0px;
}
.posting-choice {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.33%;
  color: var(--text-color);
  font-size: 14px;
  transition: 0.7s;
}
.icon {
  width: 40px;
  font-size: 23px;
  padding: 8px;
}
/* Posting Choice Hover */
.posting-choice:hover {
  background-color: var(--soft-dark);
  border-radius: 10px;
}
/* Chat Room */
.chat-room {
  background-color: var(--semi-dark);
  width: 607px;
  border-radius: 10px;
  padding: 10px 20px;
  display: flex;
  margin: auto;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.icon-container {
  position: relative;
  font-size: 13px;
}
.icon-container i {
  color: var(--text-color-white);
  font-size: 7px;
  left: 1.8px;
  top: 2px;
  position: absolute;
}
.create-room {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px 5px;
  border: 1px solid var(--primary-blue);
  border-radius: 20px;
  width: 120px;
  font-size: 12px;
  color: var(--primary-blue);
}
.online-user-container {
  position: absolute;
  z-index: 0;
  display: flex;
  right: -23px;
}
.online-user-container img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: auto 5px;
}
.scroll-right {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--soft-dark);
  color: var(--text-color);
  position: absolute;
  z-index: 2;
  right: 10px;
  bottom: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Posts */
.post-container {
  width: 607px;
  margin: auto;
  border-radius: 10px;
  background-color: var(--semi-dark);
  margin-top: 17px;
  color: var(--text-color);
}
.profile-and-options {
  display: flex;
  justify-content: space-between;
  padding: 15px 15px 0px 15px;
}
.profile {
  display: flex;
  justify-content: flex-start;
}
.name {
  font-size: 13px;
  display: block;
}

.profile img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}
.time {
  font-size: 10px !important;
}
.options {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.options:hover {
  background-color: var(--soft-dark);
}

.content {
  display: block;
  padding: 8px 0px;
  font-size: 13px;
}
.content img {
  width: 100%;
  margin: auto;
}
.article {
  margin-bottom: 7px;
  padding: 15px;
}
.actions {
  display: flex;
  justify-content: space-between;
  padding: 0px 15px 5px 15px;
}
.reactions {
  display: flex;
  align-items: flex-start;
}
.react img {
  margin-right: -4px;
  height: 14px;
}
.reactions p {
  margin-left: 5px;
  padding: 0px 2px;
  display: inline-block;
  font-size: 13px;
}
.comments-shares {
  font-size: 13px;
}
.padding-15 {
  margin: 0px 15px 0px 15px;
}
.user-actions {
  display: flex;
  padding: 5px 15px;
}
.user-actions-icons {
  width: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 0px;
}
.user-actions-icons i {
  color: var(--text-color-white);
  font-size: 15px;
  margin-right: 5px;
}
.user-actions-icons:hover {
  background-color: var(--soft-dark);
  border-radius: 10px;
}
/* Right Side */
.right-side {
  width: 20%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 3px;
  padding: 20px;
  color: var(--text-color);
  overflow: hidden;
}
.right-side:hover {
  overflow-y: auto;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.contacts {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.contact-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.find-contact {
  display: flex;
  justify-content: flex-end;
}
.contact-options-icon-container {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-options-icon-container:hover {
  background-color: var(--soft-dark);
}
.contact-options-icon {
  font-size: 16px;
}
.contact {
  display: flex;
  justify-content: flex-start;
  padding: 10px 15px;
  align-items: center;
}
.contact-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Advertisement */
.ads {
  display: flex;
  flex-direction: column;
}
.ads-heading {
  padding: 0px 0px;
  margin-bottom: 10px;
}
.ad img {
  width: 80px;
  height: 60px;
  margin-right: 10px;
}
.ad {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}
